.toolbar-content {
    display: flex;

    .search-icon {
        font-size: 1.7em;
    }
}

.grid {
    padding: 0;
}

.weather {
    border-bottom: 1px solid #999;
    .weather-card {
        $image-size: 80px;
        display: flex;
        justify-content: space-around;
        padding: 10px 10px 0 10px;
    
        .temperature {
            height: $image-size;
            line-height: $image-size;
    
            .temp-num {
                font-size: 2em;
            }
        }
    
        .wind {
            height: $image-size;
            line-height: $image-size;
        }
    
        i {
            font-size: 4em;
            height: $image-size;
            line-height: $image-size;
        }
    }
    
    .future-forecast {
        display: flex;
        padding: 10px;
    
        .future-item {
            text-align: center;
        }
    }
}

.snow-container {
    padding-top: 1em;
}

.recommendation-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;

    .wax-recommendations {
        display: flex;

        .wax-text {
            .title {

            }
            .description {
                
            }
        }
        .wax-image {
            max-height: 240px;
            max-width: 120px;
            width: auto;
            height: auto;
        }
    }
}