<ion-header>
  <ion-navbar class="home-nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="header-city">{{city}}</ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="changeLocation()">
        <ion-icon class="search-icon" name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="weather-card">
          <div class="temperature" *ngIf="forecast">
            <span class="temp-num">{{forecast.currently.temperature | round}}</span>
            <span class="temp-unit">C</span>            
          </div>
          <ion-img class="weather-icon" src="{{weatherImage}}"></ion-img>
          <div class="wind">Wind</div>
      </ion-col>
    </ion-row>
    <ion-row class="future-forecast">
      <ion-col class="future-item" *ngFor="let item of futureItems">
        <img class="future-icon" src="{{utilService.getWeatherIcon(item.icon)}}">
        <div>{{item.temperature | round}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="snow-container">
      <ion-item>
        <ion-label>Snow Conditions</ion-label>
        <ion-select [(ngModel)]="snowType">
          <ion-option value="FRESH_SNOW">Fresh snow</ion-option>
          <ion-option value="OLD_SNOW">Old snow</ion-option>
          <ion-option value="MANMADE">Manmade</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row class="recommendation-container">
      <p>Recommended wax: </p>
      <ion-img class="wax-image" src="assets/wax/swix_polar.jpg"></ion-img>
    </ion-row>
  </ion-grid>
</ion-content>
